{% extends 'base.html' %}

{% block content %}

<div class="sneaker-detail">
    <h1>{{ sneaker.name }}</h1>

    <div class="sneaker-image">
        <img src="data:image/jpeg;base64,{{ sneaker.image|b64encode }}" alt="{{ sneaker.name }}">
    </div>

    <div class="sneaker-info">
        <p><strong>Description:</strong> {{ sneaker.description }}</p>
        <p class="sneaker-prize"><strong>Prize:</strong> {{ sneaker.prize }}₴</p>
        <p><strong>Gender:</strong> {{ sneaker.gender }}</p>
    </div>
     <div class="sneaker-size">
        <form  method="POST">
            <label for="size">Select Size:</label>
            <select id="size" name="size" required>
                {% for size in sizes %}
                    <option value="{{ size }}">{{ size }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
    </div>
</div>




{% endblock %}